@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.header-back{
    background-image: url(.imagens/vermelho.jpeg);
    background-size: cover;
    width: 100vw;
    height: 45vw;
}

.header{
    display: flex;
    padding-top: 2vw;
    padding-right: 5vw;
    padding-left: 5vw;
    gap: 20px;
    flex-wrap: nowrap;
    color: white;
}

.header-txt{
    width: 25vw;
}

header{
    font-size: 2rem;
    font-weight: 500;
    background-color: blueviolet;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3vw;
    width: 60vw;
    height: 3vw;
    background-color: rgb(14, 24, 21);
}

.header-nav a{
    position: relative;
    color: rgb(230,230,230);
    text-decoration: none;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: .5s ease;
}

.header-nav a:hover{
    color: rgb(255, 196, 0);
}

.header-nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 196, 0);
    transition: width 0.3s ease;
}

.header-nav a:hover::after{
    width: 100%;
}

.um{
    width: 100vw;
    height: 45rem;

    background-color: blue;
}

.dois{
    width: 100vw;
    height: 40vw;

    background-color: rgb(4, 255, 0);
}

.tres{
    width: 100vw;
    height: 20vw;

    background-color: rgb(255, 0, 191);
}