@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #e6e6e6;
    overflow-x: hidden;
    background-color: #090909;
}

.header-back{
    background-image: url(./imagem/0h.png);
    background-size: cover;
    background-position: center 0;
    width: 100vw;
    height: 45vw;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 8vw;
    padding-left: 8vw;
    flex-wrap: nowrap;
    color: #e6e6e6;
}

.header-txt{
    width: 35vw;
    height: 10vw;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./imagem/logo.svg);
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3vw;
    width: auto;
    height: 4rem;
    font-weight: 500;
}

.header-nav a{
    position: relative;
    color: rgb(230,230,230);
    text-decoration: none;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3vw;
    transition: .5s ease;
}

.header-nav a:hover{
    color: #ffc400;
}

.header-nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 196, 0);
    transition: width 0.3s ease;
}

.header-nav a:hover::after{
    width: 100%;
}

.sobre{
    width: 100vw;
    height: auto;
    background-color: #090909;
}

.nav{
    padding-top: 1.5vw;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 1.5rem;
    color: #ffc400;
}

hr{
    height: 1.5px;
    border: 0;
    background-color: #ffc400;
}

.sobre-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vw;
    padding-right: 7vw;
    padding-left: 15vw;
    padding-bottom: 1vw;
}

.sobre-quadrado{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    font-weight: 500;
    width: 30vw;
    height: 25vw;
    background-image: url(./imagem/11.jpeg);
    background-size: cover;
    color: #ffc400;
    border: solid #ffc400 1.5px;
}

.sobre-txt{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 25vw;;
    padding-right: 15vw;
    padding-left: 5vw;
    font-size: 1.6vw;
}

p {
    text-indent: 3rem;
}

.sobre-container-{
    display: flex;
    flex-direction: row;
    padding-top: 3vw;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-bottom: 3vw;
}

.sobre-txt-{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 25vw;
    padding-right: 5vw;
    font-size: 1.5vw;
}

.sobre-quadrado-{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    font-weight: 500;
    width: 55vw;
    height: 25vw;
    background-image: url(./imagem/12.jpeg);
    background-size: cover;
    color: #ffc400;
    border: solid #ffc400 1.5px;
}

.galeria{
    width: 100vw;
    height: auto;
    background-color: #1d1d1d;
}

.galeria-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding-top: 1.5vw;
    padding-bottom: 5vw;
    padding-right: 13vw;
    padding-left: 13vw;
}

.galeria-quadrado-1{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/1.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-2{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/2.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-3{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/3.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-4{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/4.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-5{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/5.jpeg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-6{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/6.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-7{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/7.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-8{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/8.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.galeria-quadrado-9{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    width: 23vw;
    height: 23vw;
    background-image: url(./imagem/9.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.contato-back{
    width: 100vw;
    height: auto;
    background-color: #090909;
}

pre{
    font-size: 1vw;
}

h5{
    color: #ffc400;
    font-size: 1.3rem;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.contato-container{
    display: flex;
    flex-direction: column;
    padding-right: 15vw;
    padding-left: 15vw;
}

.social-box{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

b{
    color: #ffc400;
}

.contato-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1.5vw;
}

.contato-location{
    width: 32vw;
    height: 19vw;
    overflow: hidden;
}

.contato-txt{
    padding-left: 1vw;
    width: auto;
}

.servico-back{
    background-color: #1d1d1d;
    width: 100vw;
    height: 30vw;
}
.servico-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 17vw;
    padding-left: 17vw;
}

.servico-{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

h4{
    font-size: large;
    padding-bottom: 0.5vw;
    color: #ffc400;
    border-bottom: solid #ffc400 3px;
    width: fit-content;
}

.social-menu{
    display: inline-flex;
    gap: 2vw;
    list-style: none;
}

.social-menu a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1d1d1d;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #ffc400;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.social-menu a:hover{
    transform: translate(0, -15%);
}

.icon-whatsapp a:hover{
    background-color: #17ad4e;
    color: #e6e6e6;
}

.icon-instagram a:hover{
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    color: #e6e6e6;
}

.icon-tiktok a:hover{
    background-color: #000000;
    color: #e6e6e6;
}

footer{
    padding-left: 13vw;
    padding-right: 13vw;
    padding-bottom: 1.5vw;
}

.footer-txt{
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer{
    padding-top: 7vw;
}

@media screen and (max-width: 767px) {
    
    body {
        overflow-x: hidden; 
    }

    .header-back{
        height: 50vh;
        background-image: url(./imagem/0.png);
        background-position: center center;
    }

    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 5vw;
    }

    .header-txt{
        width: 60vw;
        height: 20vw;
        padding: 20px;
    }

    .header-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    h3{
        font-size: 1.5rem;
    }

    .header-nav a{
        font-size: 1rem; 
        padding: 5px 0;
    }
    
    .nav{
        padding: 5vw 5vw 0 5vw;
        font-size: 1.8rem;
    }

    .sobre-container, .sobre-container-{
        flex-direction: column; 
        align-items: center;
        padding: 5vw 5vw 0 5vw; 
    }

    .sobre-container-{
        padding-top: 1vw;
    }

    .sobre-quadrado, .sobre-quadrado-{
        width: 90vw; 
        height: 60vw;
        font-size: 1.5rem;
    }

    .sobre-txt, .sobre-txt-{
        width: 90vw;
        height: auto;
        padding: 0;
        padding-top: 2vw;
        font-size: 1rem;
    }

    .sobre-txt-{
        order: 2;
    }
    
    .sobre-quadrado-{
        order: 1;
    }

    p {
        text-indent: 1.5rem;
        margin-bottom: 10px;
    }

    .galeria-container{
        gap: 15px; 
        justify-content: space-evenly;
        padding: 3vw 5vw 5vw 5vw;
    }

    .galeria-quadrado-1, .galeria-quadrado-2, .galeria-quadrado-3, 
    .galeria-quadrado-4, .galeria-quadrado-5, .galeria-quadrado-6, 
    .galeria-quadrado-7, .galeria-quadrado-8, .galeria-quadrado-9{
        width: 42vw; 
        height: 42vw; 
        padding: 10px;
    }

    .contato-container{
        padding-right: 5vw;
        padding-left: 5vw;
    }

    pre{
        font-size: 0.8rem;
        white-space: pre-wrap;
    }

    h5{
        font-size: 1.2rem;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .contato-box{
        flex-direction: column; 
        align-items: center;
        padding-bottom: 0;
    }

    .contato-location{
        width: 90vw;
        height: 60vw; 
        margin-bottom: 20px;
    }

    .contato-txt{
        padding-left: 0;
        width: 90vw;
        text-align: center;
    }

    .servico-back{
        height: auto;
    }
    .servico-container{
        flex-direction: column; 
        gap: 30px;
        padding: 5vw;
    }

    .servico-{
        padding: 15px;
        width: 90vw; 
    }

    h4{
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .social-menu{
        gap: 15px;
    }
    
    .social-menu a{
        width: 50px; 
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    footer{
        padding: 5vw 5vw 15px 5vw;
    }
    
    .footer-txt{
        padding-top: 10px;
        font-size: 0.8rem;
    }
    
    .footer{
        padding-top: 20px;
    }
}