@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  CORES            HEX
"Branco"         #e6e6e6
"Cinza Claro"    #dcdcdc
"Cinza Escuro"   #1d1d1d
"Preto"          #090909
"Amarelo"        #ffc400
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #e6e6e6;
    overflow-x: hidden;
}

.header-back{
    background-image: url(.imagem/0h.png    );
    background-size: cover;
    width: 100vw;
    height: 45vw;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
    padding-right: 10vw;
    padding-left: 10vw;
    flex-wrap: nowrap;
    color: #e6e6e6;
}

.header-txt{
    min-width: 25vw;
    max-width: auto;
}

header{
    font-size: 3vw;
    font-weight: 500;
    text-wrap: nowrap;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3vw;
    width: auto;
    height: 4rem;
    font-weight: 500;
}

.header-nav a{
    position: relative;
    color: rgb(230,230,230);
    text-decoration: none;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3vw;
    transition: .5s ease;
}

.header-nav a:hover{
    color: #ffc400;
}

.header-nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 196, 0);
    transition: width 0.3s ease;
}

.header-nav a:hover::after{
    width: 100%;
}

.um{
    width: 100vw;
    height: auto;
    background-color: #090909;
}

.nav{
    padding-top: 1.5vw;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 1.5rem;
    color: #ffc400;
}

hr{
    height: 1.5px;
    border: 0;
    background-color: #ffc400;
}

.um-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vw;
    padding-right: 7vw;
    padding-left: 15vw;
    padding-bottom: 1vw;
}

.um-quadrado{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    font-weight: 500;
    width: 30vw;
    height: 25vw;
    background-image: url(.imagem/11.jpeg);
    background-size: cover;
    color: #ffc400;
    border: solid #ffc400 1.5px;
}

.um-txt{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 25vw;;
    padding-right: 15vw;
    padding-left: 5vw;
    font-size: 1.6vw;
}

p {
    text-indent: 3rem;
}

.um-container-{
    display: flex;
    flex-direction: row;
    padding-top: 3vw;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-bottom: 3vw;
}

.um-txt-{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 25vw;
    padding-right: 5vw;
    font-size: 1.5vw;
}

.um-quadrado-{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    font-weight: 500;
    width: 55vw;
    height: 25vw;
    background-image: url(.imagem/12.jpeg);
    background-size: cover;
    color: #ffc400;
    border: solid #ffc400 1.5px;
}

.dois{
    width: 100vw;
    height: auto;
    background-color: #1d1d1d;
}

.dois-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding-top: 1.5vw;
    padding-bottom: 5vw;
    padding-right: 13vw;
    padding-left: 13vw;
}

.dois-quadrado-1{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/1.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-2{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/2.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-3{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/3.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-4{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/4.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-5{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/5.jpeg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-6{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/6.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-7{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/7.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-8{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/8.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.dois-quadrado-9{
    display: flex;
    align-items: flex-end;
    padding: 1.5vw;
    font-size: 2rem;
    width: 23vw;
    height: 23vw;
    background-image: url(.imagem/9.jpg);
    background-size: cover;
    border: solid #ffc400 1px;
}

.tres-back{
    width: 100vw;
    height: auto;

    background-color: #090909;
}

pre{
    font-size: 1vw;
}

.tres-{
    padding-top: 1vw;
}

.tres-container{
    display: flex;
    padding-right: 15vw;
    padding-left: 15vw;
}

.tres-location{
    width: 30vw;
    background-color: rgb(152, 152, 40);
}

.tres-txt{
    width: auto;
    background-color: rgb(33, 57, 49);
}