@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  CORES            HEX
"Branco"         #e6e6e6
"Cinza Claro"    #dcdcdc
"Cinza Escuro"   #1d1d1d
"Preto"          #090909
"Amarelo"        #ffc400
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #e6e6e6;
}

.header-back{
    background-image: url(.imagens/vermelho.jpeg);
    background-size: cover;
    width: 100vw;
    height: 45vw;
}

.header{
    display: flex;
    padding-top: 2vw;
    padding-right: 7vw;
    padding-left: 7vw;
    gap: 20px;
    flex-wrap: nowrap;
    color: #e6e6e6;
}

.header-txt{
    width: 25vw;
}

header{
    font-size: 2.9rem;
    font-weight: 500;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3vw;
    width: 58vw;
    height: 3vw;
}

.header-nav a{
    position: relative;
    color: rgb(230,230,230);
    text-decoration: none;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: .5s ease;
}

.header-nav a:hover{
    color: #ffc400;
}

.header-nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 196, 0);
    transition: width 0.3s ease;
}

.header-nav a:hover::after{
    width: 100%;
}

.um{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3vw;
    padding-right: 7vw;
    padding-left: 7vw;
    width: 100vw;
    height: 45rem;
    background-color: #090909;
}

.um-quadrado{
    width: 20vw;
    height: 20vw;
    background-image: url(.imagens/vermelho.jpeg);
    background-size: cover;
    border: solid #e6e6e6 1px;
}

.dois{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-right: 7vw;
    padding-left: 7vw;
    width: 100vw;
    height: auto;

    background-color: #1d1d1d;
}

.dois-quadrado{
    width: 27vw;
    height: 20vw;
    background-image: url(.imagens/vermelho.jpeg);
    background-size: cover;
    border: solid #e6e6e6 1px;
}

.tres{
    width: 100vw;
    height: 20vw;

    background-color: #090909;
}